name: Integration Tests

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
            
jobs:
  call-workflow:
    uses: ./.github/workflows/test-plugin.yml
    with:
        triton-ref: '05dc28be0e72dd496300a31b99a21a5a5118f8e9' # known good commit "[CI] refactor workflows (#2504)"
        triton-shared-ref: ${{ github.ref }}

  test-cpuref:
    uses: ./.github/workflows/test-cpuref.yml
    with:
        triton-ref: '768fc1fcd98ecfc0892f8982b0bb009dd7bb11ea' # known good commit "[CI] refactor workflows (#2504)"
        triton-shared-ref: ${{ github.ref }}
