name: Integration Tests

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  call-workflow:
    uses: ./.github/workflows/test-plugin.yml
    with:
        # [BACKEND] Refactor wgmma descriptor creation (#2725)
        triton-ref: '56c284cf7e39f249cdf1d8d5dba7892deb0286d6'
        triton-shared-ref: ${{ github.ref }}
